.site-wide__w300
  .pd002
    .js-pd002.pd002__inner
      .pd002__open
        span.pd002__open-line
        span.pd002__open-line
        span.pd002__open-line
      .pd002__close-wrapper
        .pd002__close
          span.pd002__close-line
          span.pd002__close-line
