.site-wide__w300
  .cm-toggle-pd002
    .js-pd002.cm-toggle-pd002__inner
      .cm-toggle-pd002__open
        span.cm-toggle-pd002__open-line
        span.cm-toggle-pd002__open-line
        span.cm-toggle-pd002__open-line
      .cm-toggle-pd002__close-wrapper
        .cm-toggle-pd002__close
          span.cm-toggle-pd002__close-line
          span.cm-toggle-pd002__close-line
