.site-wide__w300
  .pd002
    .pd002__open.showed
      span.pd002__open-line
      span.pd002__open-line
      span.pd002__open-line
    .pd002__close
      span.pd002__close-line
      span.pd002__close-line.pd002__close-line--fix
