include ./_component.pug
include ../../../../Basic/Icon/template/_component
include ../../../../Basic/Text/template/_component

button
  +RebitaButton({ key: 'default', size: 'middle', direction: 'right' })
    mixin text
      | ボタン
    mixin icon
      +Icon({ key: 'default', type: '007', size: 'small' })
