include ./_component.pug
include ../../../../Basic/Icon/template/_component
include ../../../../Basic/Text/template/_component

+RebitaButton({ key: 'default', size: 'middle' })
  mixin text
    | ボタン
  mixin icon
    +Icon({ key: 'default', type: '007', size: 'small' })
