@use "sass:map";
@use "../../../../styles/import" as *;
@use "../../../../styles/common-components" as *;


@mixin listItem004 ($options) {
  $defaults: (
    key: 'default',
    font-size: 24,
    line-height: 1.25,
    color: #000,
    gap: 24,
    icon: (
      fill: #000,
      stroke: #000,
    ),
    animation: (
      duration: 0.25s,
      ease: $easeInOutCubic,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-list-item-004__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-list-item-004__wrapper--#{map.get($settings, 'key')} {
    .cm-list-item-004 {
      cursor: pointer;
      display: flex;
      justify-content: left;
    }

    .cm-list-item-004__text-wrapper {
      width: 100%;
      padding-left: em(map.get($settings, 'gap'));
    }

    .cm-list-item-004__text {
      display: block;
      color: map.get($settings, 'color');
      font-size: em(map.get($settings, 'font-size'));
      overflow-wrap: break-word;
      line-height: map.get($settings, 'line-height');
    }

    .cm-list-item-004__icon-wrapper {
      height: calc(em(map.get($settings, 'font-size')) * map.get($settings, 'line-height'));
      position: relative;
    }

    .cm-list-item-004__icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include iconColor((
        stroke: map.get(map.get($settings, 'icon'), 'stroke'),
        fill: map.get(map.get($settings, 'icon'), 'fill'),
      ));
    }

    .cm-list-item-004--animation_001 {
      transition: opacity map.get(map.get($settings, 'animation'), 'duration') map.get(map.get($settings, 'animation'), 'ease');
  
      &:hover {
        opacity: 0.5;
      }
    }
  }
} 



