mixin JmcButton({ key = 'default' })
  block
  span.cm-jmc-button__wrapper(class=`cm-jmc-button__wrapper--${key}`)
    span.cm-jmc-button
      span.cm-jmc-button__left
        +text
      +circleToggle
