mixin Toggle001Close({ key = 'default' })
  .cm-toggle-001-close__wrapper(class=`cm-toggle-001-close__wrapper--${key}`)
    .cm-toggle-001-close
      .cm-toggle-001-close__inner
        .cm-toggle-001-close__container
          .cm-toggle-001-close__line-wrapper
            span.cm-toggle-001-close__line
            span.cm-toggle-001-close__line