@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";

.cm-toggle-pd001{
  display: block;
  position: relative;
}

.cm-toggle-pd001__default-wrap{
  display: flex;
  padding: mixin.rem(23);
  justify-content: center;  
}
