@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";
@use "../../../../shared/styles/shared/variable";


.test{
  @include mixin.baseFontSizeForEm;
}

.test__inner {
  color: red;
  padding: mixin.em(40);
  margin: mixin.rem(40);
  justify-content: center;
}

.test__text {
  font-size: mixin.em(32);
}