include ./_component.pug
include ../../../../Basic/Icon/template/_component

+RebitaTextButtonWithIcon({ key: 'default' })
  mixin text
    | KAIKA 東京 by THE SHARE HOTELS
  mixin icon
    +Icon({ key: 'default', type: '007', size: 'small' })
