mixin Balloon001({ key = 'default', type = '001', arrowPosition = 'bottom' })
  .cm-balloon-001__wrapper(class=`cm-balloon-001__wrapper--${key}`)
    .cm-balloon-001(class=`cm-balloon-001--${type} cm-balloon-001--arrow-${arrowPosition}`)
      span.cm-balloon-001__content
        block
      span.cm-balloon-001__arrow