extends /shared/templates/layout/_default

include /shared/common/components/template/_components.pug

block vars
  -
    var title = 'document'
    var description = ''
    var keywords = ''
    var url = ''

block main
  .test-wrap
    p.test-rem site wide #{data.page.top.title}

    button
      +Button001({key: 'default', type: '003', size: 'small', animation: '001'})
        +Text()
          p.test-text テキスト

    +List001({ key: 'default', type: '003' })
      mixin listItems({ className })
        li(class=className)
          a(href='#')
            +VerticalRollingText({ key: 'default' })
              | テキスト
        li(class=className)
          a(href='#')
            +VerticalRollingText({ key: 'default' })
              | テキスト
        li(class=className)
          a(href='#')
            +VerticalRollingText({ key: 'default' })
              | テキスト

    +Media()
      mixin pc
        p(style='font-size: 16em;')
          | PC
      mixin tb
        p(style='font-size: 16em;')
          | タブレット
      mixin sp
        p(style='font-size: 16em;')
          | SP