extends /shared/templates/layout/_default

block vars
  -
    var title = 'document'
    var description = ''
    var keywords = ''
    var url = ''

block main
  .test-wrap
    p site wide #{data.page.top.title}

    //- uiパッケージからコンポーネントを読み込む場合はこちらを参考にしてください
    //- include /shared/common/components/Toggle/Product002/template/index.pug