extends /shared/templates/layout/_default

include /shared/common/components/Button/Product001/template/_component.pug

block vars
  -
    var title = 'document'
    var description = ''
    var keywords = ''
    var url = ''

block main
  .test-wrap
    p site wide #{data.page.top.title}

    +Button001({ key: 'default', type: '001', size: 'medium' })
      | ボタン