mixin TextIcon001({ key = 'default', iconPosition = 'right' })
  block
  .cm-text-icon-001__wrapper(class=`cm-text-icon-001__wrapper--${key}`)
    .cm-text-icon-001(class=`cm-text-icon-001--icon-position_${iconPosition}`)
      .cm-text-icon-001__text
        +text
      .cm-text-icon-001__icon
        +icon
