mixin TearoomRecruitmentCard({ key = 'default' })
  .cm-tearoom-recruitment-card__wrapper(class=`cm-tearoom-recruitment-card__wrapper--${key}`)
    .cm-tearoom-recruitment-card TearoomRecruitmentCard
