mixin TextButton001({ key = 'default', type = '001', size = 'middle' })
  span.cm-text-button-001__wrapper(class=`cm-text-button-001__wrapper--${key}`)
    span.cm-text-button-001(class=`cm-text-button-001--${type}`)
      block
