@use "sass:map";
@use "../../../../styles/import" as *;
@use "../../../../styles/common-components" as *;

@mixin frameIcon001($options) {
  $defaults: (
    key: "default",
    background: #e7e7e7,
    icon: (
      fill: #000,
      stroke: #000,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-frame-icon-001__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-frame-icon-001__wrapper--#{map.get($settings, "key")} {
    .cm-frame-icon-001 {
      position: relative;
    }

    .cm-frame-icon-001__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: map.get($settings, "background");
      z-index: 0;
    }

    .cm-frame-icon-001__inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      @include iconColor(
        (
          stroke: map.get(map.get($settings, "icon"), "stroke"),
          fill: map.get(map.get($settings, "icon"), "fill"),
        )
      );
    }

    // type

    .cm-frame-icon-001--001 {
      .cm-frame-icon-001__background {
        border-radius: 50%;
      }
    }

    .cm-frame-icon-001--002 {
      .cm-frame-icon-001__background {
        border-radius: 0;
      }
    }

    .cm-frame-icon-001--003 {
      .cm-frame-icon-001__background {
        border-radius: rem(4);
      }
    }

    // size

    .cm-frame-icon-001--size_large {
      width: em(40);
      height: em(40);
    }

    .cm-frame-icon-001--size_middle {
      width: em(35);
      height: em(35);
    }

    .cm-frame-icon-001--size_small {
      width: em(30);
      height: em(30);
    }
  }
}
