mixin Accordion005({ key = 'default', type = '001' })
  block
  .cm-accordion-005__wrapper(class=`cm-accordion-005__wrapper--${key}`)
    .cm-accordion-005(class=`cm-accordion-005--${type}`)
      .js-accordion-005-header.cm-accordion-005__header
        .cm-accordion-005__header-inner
          .cm-accordion-005__title-wrapper
            .cm-accordion-005__title
              +headerTitle
            .cm-accordion-005__text
              +headerText
          .js-accordion-005-icon.cm-accordion-005__icon
            +icon
      .js-accordion-005-content.cm-accordion-005__content-wrapper
        .js-accordion-005-content-inner.cm-accordion-005__content
          .cm-accordion-005__content-title
            +contentTitle
          .cm-accordion-005__content-text
            +contentText