mixin Icon({ key = 'default', type = '001', size = "large" })
  span.cm-icon__wrapper(class=`cm-icon__wrapper--${key}`)
    svg.cm-icon(width='24', height='24', viewBox='0 0 24 24', fill='none', class=`cm-icon--size_${size}`)
      case type
        when '001'
          path.cm-icon__path.cm-icon__path--001(d='M19 12H5m14 0-6 6m6-6-6-6', stroke-linecap='round', stroke-linejoin='round')
        when '002'
          path.cm-icon__path.cm-icon__path--002(d='M19 12H5m14 0-6 6m6-6-6-6', stroke-linecap='square')
        when '003'
          path.cm-icon__path.cm-icon__path--003(d='m8 19 8-7-8-7', stroke-linecap='round', stroke-linejoin='round')
        when '004'
          path.cm-icon__path.cm-icon__path--004(d='m8 19 8-7-8-7', stroke-linecap='square')
        when '005'
          path.cm-icon__path.cm-icon__path--005(d='M8.5 17.25L13.75 12L8.5 6.75', stroke-linecap='round', stroke-linejoin='round')
          path.cm-icon__path.cm-icon__path--005(d='M13.75 17.25L19 12L13.75 6.75', stroke-linecap='round', stroke-linejoin='round')
        when '006'
          path.cm-icon__path.cm-icon__path--006(d='M8.5 17.25L13.75 12L8.5 6.75', stroke-linecap='square', stroke-linejoin='round')
          path.cm-icon__path.cm-icon__path--006(d='M13.75 17.25L19 12L13.75 6.75', stroke-linecap='square', stroke-linejoin='round')
        when '007'
          path.cm-icon__path.cm-icon__path--007(d='M17 12 7 19V5l10 7Z')
        when '008'
          path.cm-icon__path.cm-icon__path--008(d='M15.83 11.18a1 1 0 0 1 0 1.64l-7.257 5.079A1 1 0 0 1 7 17.079V6.921a1 1 0 0 1 1.573-.82l7.257 5.08Z')
        when '009'
          path.cm-icon__path.cm-icon__path--009(d='M2.5 14.4159V9.58412H12.096V5.6865L21.5 12L12.096 18.3135V14.4159H2.5Z')
        when '010'
          path.cm-icon__path.cm-icon__path--010(d='M16.4531 12.3766L10.2656 17.7682L9.4375 18.4898L9.4375 5.51035L10.2656 6.23203L16.4531 11.6227L16.8857 11.9996L16.4531 12.3766Z')
        when '011'
          path.cm-icon__path.cm-icon__path--011(d='M16.625 11.9996C16.625 12.1442 16.5621 12.2816 16.4531 12.3766L10.2656 17.7682C10.1179 17.8967 9.90873 17.9274 9.73047 17.8463C9.55213 17.7651 9.43758 17.5871 9.4375 17.3912L9.4375 6.60899C9.4375 6.41299 9.55208 6.23508 9.73047 6.15391C9.90878 6.07279 10.1179 6.10342 10.2656 6.23203L16.4531 11.6227L16.5264 11.7018C16.5898 11.7871 16.6249 11.8914 16.625 11.9996Z', stroke-linejoin='round')
        when '012'
          path.cm-icon__path.cm-icon__path--012(d='M14.4068 7.47312V11.0946H3.53656L3.5 12.9144H14.4068V16.5269L20.5 12L14.4068 7.47312Z')
        when '013'
          path.cm-icon__path.cm-icon__path--013(d='M5.5 6.5h16v11h-16z')
          path.cm-icon__path.cm-icon__path--013(d='M2.5 9.5h16v11h-16z')
        when '014'
          path.cm-icon__path.cm-icon__path--014(d='M4 4.94h8.047M4.497 20.5V5.44M19.586 20.5v-8.032M4.997 20h15.089M12.71 11.812l6.757-6.772m.169 4.57V4.87h-4.73')
        when '015'
          path.cm-icon__path.cm-icon__path--015(d='M15.813 7.234a.953.953 0 1 1 1.906 0 .953.953 0 0 1-1.906 0Z')
          path.cm-icon__path.cm-icon__path--015(fill-rule='evenodd', d='M12 7.472a4.528 4.528 0 1 0 0 9.056 4.528 4.528 0 0 0 0-9.056ZM8.902 12a3.098 3.098 0 1 1 6.196 0 3.098 3.098 0 0 1-6.196 0Z', clip-rule='evenodd')
          path.cm-icon__path.cm-icon__path--015(fill-rule='evenodd', d='M17.012 3.262a45.47 45.47 0 0 0-10.024 0C5.07 3.476 3.52 4.987 3.296 6.915a43.849 43.849 0 0 0 0 10.17c.225 1.928 1.773 3.44 3.692 3.654 3.331.368 6.693.368 10.024 0 1.918-.215 3.467-1.726 3.692-3.653a43.854 43.854 0 0 0 0-10.171c-.225-1.928-1.773-3.439-3.692-3.653Zm-9.866 1.42a44.04 44.04 0 0 1 9.708 0 2.758 2.758 0 0 1 2.43 2.4c.383 3.268.383 6.569 0 9.837a2.755 2.755 0 0 1-2.43 2.398 44.033 44.033 0 0 1-9.708 0 2.754 2.754 0 0 1-2.43-2.398 42.324 42.324 0 0 1 0-9.837 2.755 2.755 0 0 1 2.43-2.4Z', clip-rule='evenodd')
        when '016'
          path.cm-icon__path.cm-icon__path--016(d='m13.522 10.748 5.957-6.924h-1.412l-5.172 6.012-4.13-6.012H4l6.247 9.091L4 20.175h1.412l5.461-6.348 4.363 6.349H20l-6.478-9.428Zm-1.933 2.247-.633-.905L5.92 4.887h2.168l4.064 5.813.633.905 5.283 7.556H15.9l-4.311-6.166Z')
        when '017'
          path.cm-icon__path.cm-icon__path--017(d='M22 12.025c0-5.52-4.48-10-10-10s-10 4.48-10 10c0 4.84 3.44 8.87 8 9.8v-6.8H8v-3h2v-2.5c0-1.93 1.57-3.5 3.5-3.5H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95Z')
        when '018'
          path.cm-icon__path.cm-icon__path--018(stroke-linejoin='round', d='M3 18.75h18V5.25H3v13.5Z')
          path.cm-icon__path.cm-icon__path--018(stroke-linecap='round', stroke-linejoin='round', d='M3 5.25 12 12l9-6.75')
          path.cm-icon__path.cm-icon__path--018(stroke-linecap='round', stroke-linejoin='round', d='M3 12V5.25h18V12')
        when '019'
          path.cm-icon__path.cm-icon__path--019(fill-rule='evenodd', d='m3 6.385 9 7.594 9-7.594V18.75H3V6.385ZM19.655 5.25 12 11.708 4.345 5.25h15.31Z', clip-rule='evenodd')
        when '020'
          path.cm-icon__path.cm-icon__path--020(stroke-linecap='round', stroke-linejoin='round', d='M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7Z')
          path.cm-icon__path.cm-icon__path--020(stroke-linecap='round', stroke-linejoin='round', d='m3 7 9 6 9-6')
        when '021'
          path.cm-icon__path.cm-icon__path--021(d='M21 7.982V16.5a2.7 2.7 0 0 1-2.542 2.695l-.158.005H5.7a2.7 2.7 0 0 1-2.696-2.542L3 16.5V7.982l8.5 5.667.105.06a.9.9 0 0 0 .79 0l.104-.06L21 7.982Z')
          path.cm-icon__path.cm-icon__path--021(d='M18.3 4.8c.972 0 1.824.513 2.3 1.284L12 11.817 3.4 6.084a2.7 2.7 0 0 1 2.12-1.278L5.7 4.8h12.6Z')
        when '022'
          path.cm-icon__path.cm-icon__path--022(d='M7.218 10.924a13.465 13.465 0 0 0 5.858 5.858l1.955-1.955c.24-.24.596-.32.907-.214.995.33 2.07.507 3.173.507.489 0 .889.4.889.889v3.102c0 .489-.4.889-.889.889C10.764 20 4 13.236 4 4.889 4 4.4 4.4 4 4.889 4H8c.489 0 .889.4.889.889 0 1.111.178 2.178.507 3.173a.892.892 0 0 1-.223.907l-1.955 1.955Z')
        when '023'
          path.cm-icon__path.cm-icon__path--023(d='M8.823 4H6.286A2.286 2.286 0 0 0 4 6.286V8.57C4 14.883 9.117 20 15.429 20h2.285A2.285 2.285 0 0 0 20 17.714v-1.58a1.143 1.143 0 0 0-.632-1.02l-2.761-1.381a1.142 1.142 0 0 0-1.596.66l-.339 1.02a1.383 1.383 0 0 1-1.583.92 6.914 6.914 0 0 1-5.42-5.422 1.383 1.383 0 0 1 .918-1.583l1.267-.423a1.143 1.143 0 0 0 .747-1.36l-.67-2.68A1.143 1.143 0 0 0 8.823 4Z')
        when '024'
          path.cm-icon__path.cm-icon__path--024(d='M6.667 4A2.667 2.667 0 0 0 4 6.667V8.8C4 14.986 9.014 20 15.2 20h2.133A2.667 2.667 0 0 0 20 17.333V15.86a1.6 1.6 0 0 0-.885-1.431l-2.576-1.289a1.6 1.6 0 0 0-2.234.926l-.318.953a.757.757 0 0 1-.866.502 5.92 5.92 0 0 1-4.641-4.64.757.757 0 0 1 .502-.866l1.183-.395a1.6 1.6 0 0 0 1.046-1.906l-.625-2.5A1.6 1.6 0 0 0 9.035 4H6.667Z')
        when '025'
          path.cm-icon__path.cm-icon__path--025(d='M6.5 3.5h14v14h-14zM3.5 5v15M3 20.5h16')
        when '026'
          path.cm-icon__path.cm-icon__path--026(d='M21.999 11.999v-.005a9.953 9.953 0 0 0-3.334-7.444l-.01-.008a.499.499 0 0 0-.084-.073h-.002A9.933 9.933 0 0 0 11.998 2a9.939 9.939 0 0 0-6.592 2.487l.011-.01a.417.417 0 0 0-.058.055 9.97 9.97 0 0 0-3.36 7.47 9.959 9.959 0 0 0 3.331 7.443l.01.008c.027.03.057.057.089.081l.001.001A9.933 9.933 0 0 0 11.998 22a9.941 9.941 0 0 0 6.592-2.487l-.011.01A9.949 9.949 0 0 0 22 12.005V12L22 11.999Zm-3.718 6.504a9.999 9.999 0 0 0-1.591-1.052l-.054-.027c.51-1.472.818-3.17.847-4.935v-.014h3.55a9.016 9.016 0 0 1-2.75 6.025l-.002.003Zm-5.805-1.255a9.023 9.023 0 0 1 2.99.675l-.06-.021c-.739 1.683-1.778 2.84-2.93 3.094v-3.747Zm0-.953v-3.82h4.056a15.495 15.495 0 0 1-.813 4.649l.033-.11a9.663 9.663 0 0 0-3.253-.718h-.023Zm0-4.773v-3.82a9.916 9.916 0 0 0 3.339-.742l-.066.024c.463 1.35.747 2.904.783 4.52v.018h-4.056Zm0-4.773V3.003c1.152.254 2.191 1.406 2.93 3.094a8.936 8.936 0 0 1-2.906.651l-.024.001Zm2.378-3.333a9 9 0 0 1 2.715 1.46l-.02-.015c-.368.29-.782.563-1.22.8l-.046.024a8.334 8.334 0 0 0-1.436-2.28l.007.008v.003Zm-3.333-.41v3.743a9 9 0 0 1-2.99-.675l.06.022c.742-1.684 1.78-2.84 2.932-3.094l-.002.004ZM7.714 5.682a9.167 9.167 0 0 1-1.286-.839l.02.015a8.916 8.916 0 0 1 2.631-1.426l.064-.02a8.333 8.333 0 0 0-1.408 2.215l-.02.055Zm3.809 2.02v3.82H7.466c.037-1.635.32-3.19.816-4.648l-.033.11A9.75 9.75 0 0 0 11.5 7.7h.023Zm0 4.773v3.82a9.914 9.914 0 0 0-3.34.742l.066-.024a15.15 15.15 0 0 1-.783-4.52v-.018h4.057Zm0 4.773v3.745c-1.153-.254-2.192-1.405-2.93-3.094a8.935 8.935 0 0 1 2.905-.65l.025-.001ZM9.148 20.58a9.083 9.083 0 0 1-2.715-1.457l.02.015c.369-.29.783-.563 1.22-.8l.046-.024c.35.833.835 1.603 1.436 2.277l-.007-.008v-.003Zm7.136-2.267c.483.263.898.535 1.287.84l-.02-.016a8.913 8.913 0 0 1-2.632 1.427l-.063.02a8.332 8.332 0 0 0 1.407-2.215l.021-.054v-.002Zm4.75-6.792h-3.55a16.416 16.416 0 0 0-.883-5.065l.035.115c.588-.31 1.146-.676 1.664-1.093l-.02.015a9 9 0 0 1 2.752 6.004l.002.024ZM5.718 5.495c.48.39 1.019.747 1.59 1.051l.055.027c-.511 1.473-.819 3.17-.848 4.936v.013H2.964a9.016 9.016 0 0 1 2.75-6.025l.004-.002Zm-2.753 6.98h3.55c.026 1.725.324 3.434.882 5.065l-.034-.115a10.32 10.32 0 0 0-1.664 1.093l.02-.015A9 9 0 0 1 2.966 12.5v-.024h-.001Z')
        when '027'
          path.cm-icon__path.cm-icon__path--027(stroke-linecap='round', d='M10.4 13.563c1.21 1.205 3.28 1.096 4.623-.242l3.893-3.878c1.344-1.339 1.453-3.4.244-4.606-1.209-1.205-3.28-1.096-4.624.243L12.59 7.019')
          path.cm-icon__path.cm-icon__path--027(stroke-linecap='round', d='M13.6 10.437c-1.21-1.205-3.28-1.096-4.623.242L7.03 12.62l-1.946 1.938c-1.344 1.339-1.453 3.4-.244 4.606 1.209 1.205 3.28 1.096 4.624-.243l1.947-1.939')
        when '028'
          path.cm-icon__path.cm-icon__path--028(stroke-linecap='round', stroke-linejoin='round', d='m8.998 15.003 6.006-6.005m-8.259 2.251-1.501 1.502a4.245 4.245 0 0 0 4.628 6.926 4.247 4.247 0 0 0 1.378-.92l1.499-1.502m-1.5-10.51 1.501-1.501a4.247 4.247 0 0 1 6.006 6.005l-1.501 1.502')
        when '029'
          path.cm-icon__path.cm-icon__path--029(d='M9.333 12A2.667 2.667 0 1 1 4 12a2.667 2.667 0 0 1 5.333 0Z')
          path.cm-icon__path.cm-icon__path--029(stroke-linecap='round', d='M14.667 6.133 9.333 9.867m5.334 8-5.334-3.734')
          path.cm-icon__path.cm-icon__path--029(d='M20 18.933a2.667 2.667 0 1 1-5.333 0 2.667 2.667 0 0 1 5.333 0Zm0-13.866a2.667 2.667 0 1 1-5.333 0 2.667 2.667 0 0 1 5.333 0Z')
        when '030'
          path.cm-icon__path.cm-icon__path--030(stroke-linecap='round', stroke-linejoin='round', d='M4 4v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8.342a2 2 0 0 0-.602-1.43l-4.44-4.342A2 2 0 0 0 13.56 2H6a2 2 0 0 0-2 2Z')
          path.cm-icon__path.cm-icon__path--030(stroke-linejoin='round', d='M14 2v4a2 2 0 0 0 2 2h4')