mixin ListItem002({ key = 'default' })
  span.cm-list-item-002__wrapper(class=`cm-list-item-002__wrapper--${key}`)
    span.cm-list-item-002
      span.cm-list-item-002__point-wrapper
        span.cm-list-item-002__point
      span.cm-list-item-002__text-wrapper
        span.cm-list-item-002__text
          block
