mixin ListItem002({ key = 'default', animation = '001' })
  span.cm-list-item-002__wrapper(class=`cm-list-item-002__wrapper--${key}`)
    span.cm-list-item-002(class=`cm-list-item-002--animation_${animation}`)
      span.cm-list-item-002__point-wrapper
        span.cm-list-item-002__point
      span.cm-list-item-002__text-wrapper
        span.cm-list-item-002__text
          block
