mixin toggle001Open({ key = 'default' })
  .cm-toggle-001-open__wrapper(class=`cm-toggle-001-open__wrapper--${key}`)
    .cm-toggle-001-open
      .cm-toggle-001-open__inner
        span.cm-toggle-001-open__line
        span.cm-toggle-001-open__line