//- js-nested-list-item-toggleにopenクラスを追加するとアイコンが回転する

mixin NestedListItem001({ key = 'default' })
  block
  .cm-nested-list-item-001__wrapper(class=`cm-nested-list-item-001__wrapper--${key}`)
    .cm-nested-list-item-001
      .cm-nested-list-item-001__icon-wrapper
        .js-nested-list-item-toggle.cm-nested-list-item-001__icon
          +icon
      .cm-nested-list-item-001__text-wrapper
        .cm-nested-list-item-001__text
          +text
