include ./_component.pug

button
  +Button001({key: 'default', type: '001', size: 'middle', animation: '001'}) 
    | Button

a(href='#')
  +Button001({key: 'default', type: '001', size: 'middle', animation: '001'}) 
    | Button