include ./_component.pug
include ../../../Icon/template/_component

+NestedListItem001({ key: 'default' })
  mixin icon
    +Icon({ key: 'default', type: '036', size: 'large' })
  mixin text
    | NestedListItem001
