mixin FadeInAndZoomImages({ key = 'default' })
  block
  .cm-fade-in-and-zoom-images__wrapper(class=`cm-fade-in-and-zoom-images__wrapper--${key}`)
    .cm-fade-in-and-zoom-images__image-inner
      +images("cm-fade-in-and-zoom-images__content", "cm-fade-in-and-zoom-images__image")