@use "../../../import" as *;
@use "../../../../components/Advanced/Rebita/CircleProgress/style/index" as *;

@include RebitaCircleProgress(
  (
    key: "default",
    primaryColor: #000,
    trackColor: #e5e7eb,
    textColor: #1f2937,
    animationDuration: 2s,
    size: 100,
    strokeWidth: 3,
    fontSize: 16,
  )
);
