@use "../../../../styles/media";
@use "../../../../styles/mixin";
@use "../../../../styles/animation";

// mixinにしてキーのクラスでユニークの値を設定して独自のスタイルを設定できるようにする

$color-border: #000;
$color-text: #000;
$color-background: #fff;
$color-animation-background: #ccc;

$font-weight: 700;

.cm-button-001__wrapper {
  @include mixin.baseFontSizeForEm();
}

.cm-button-001 {
  width: 100%;
  text-align: center;
  border: 1px solid $color-border;
  cursor: pointer;
  display: block;
  background-color: $color-background;
  position: relative;
}

.cm-button-001__icon {
  display: block;
}

// Type

.cm-button-001--001 {
  border-radius: mixin.em(30);
}

.cm-button-001--002 {
  border-radius: mixin.em(8);
}

.cm-button-001--003 {
  border-radius: 0;
}

// Size

.cm-button-001--small {
  padding: mixin.em(7) mixin.em(13);

  .cm-button-001__text {
    font-size: mixin.em(12);
  }
}

.cm-button-001--medium {
  padding: mixin.em(15) mixin.em(28);

  .cm-button-001__text {
    font-size: mixin.em(16);
  }
}

.cm-button-001--large {
  padding: mixin.em(25) mixin.em(45);

  .cm-button-001__text {
    font-size: mixin.em(18);
  }
}

.cm-button-001__text {
  display: block;
  font-weight: $font-weight;
  color: $color-text;
}

// Animation

.cm-button-001--animation_001 {
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $color-animation-background;
  }
}