mixin TearoomFramerFeatureBanner({ key = 'default' })
  .cm-tearoom-framer-feature-banner__wrapper(class=`cm-tearoom-framer-feature-banner__wrapper--${key}`)
    .cm-tearoom-framer-feature-banner TearoomFramerFeatureBanner
