//- .js-selectにerrorクラスを付与するとエラー表示が出る

mixin Select005({ key = 'default', type = '001', name = 'select-005' })
  block
  .cm-select-005__wrapper(class=`cm-select-005__wrapper--${key}`)
    .js-select.cm-select-005(class=`cm-select-005--${type}`)
      .cm-select-005__inner
        select.cm-select-005__select(name=name)
          +options
        span.cm-select-005__icon
          +icon
      p.cm-select-005__error 
        +errorText