@use 'variable';
@use 'mixin';
@use 'media';

html {
  // PCサイズ以上になるとPCサイズの最大の固定値になる
  font-size: calc(
    #{variable.$PC_SIZE}px * #{variable.$REM_SIZE} / #{variable.$PC_SIZE}
  );

  @include media.pcSize {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$PC_SIZE});
  }

  @include media.tabletSize {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$PC_SIZE});
    // font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$TABLET_SIZE});

    // TBサイズの間はPCサイズの最小の固定値になる
    // font-size: calc(
    //   #{variable.$TABLET_SIZE}px * #{variable.$REM_SIZE} / #{variable.$PC_SIZE}
    // );
  }

  @include media.spSizeLess {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$SP_SIZE});
  }
}
