@use 'sass:map';
@use "../../../styles/import" as *;

@mixin iconPath ($options) {
  $defaults: (
    stroke: #000,
    fill: #000,
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-icon__path--001 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--002 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--003 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--004 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--005 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--006 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--007 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--008 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--009 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--010 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--011 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--012 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--013 {
    fill: map.get($settings, 'fill');
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--014 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--015 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--016 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--017 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--018 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--019 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--020 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--021 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--022 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--023 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--024 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--025 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--026 {
    fill: map.get($settings, 'fill');
  }

  .cm-icon__path--027 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--028 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--029 {
    stroke: map.get($settings, 'stroke');
  }

  .cm-icon__path--030 {
    stroke: map.get($settings, 'stroke');
  }
}

@mixin icon ($options) {
  $defaults: (
    key: 'default',
    stroke: #000,
    fill: #000,
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-icon__wrapper {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 0;
  }

  .cm-icon {
    width: 100%;
    height: 100%;
  }

  .cm-icon__wrapper--#{map.get($settings, 'key')} {
    @include iconPath((
      stroke: map.get($settings, 'stroke'),
      fill: map.get($settings, 'fill'),
    ));
  }
}
