include ./_component.pug
include ../../../../Icon/template/_component

+Label003({ key: 'default', type: '001', size: 'small', iconPosition: 'left' })
  mixin text
    | Label Component
  mixin icon
    +Icon({ key: 'default', type: '031', size: 'small' })
