
mixin Radio001({ key = 'default', name = 'radio-001' })
  block
  .cm-radio-001__wrapper(class=`cm-radio-001__wrapper--${key}`)
    .cm-radio-001
      .cm-radio-001__check-box
        +checkbox
      label.cm-radio-001__text(for=name)
        +text
