mixin FrameIcon001({ key = 'default', type = '001', size = 'middle' })
  .cm-frame-icon-001__wrapper(class=`cm-frame-icon-001__wrapper--${key}`)
    .cm-frame-icon-001(class=`cm-frame-icon-001--${type} cm-frame-icon-001--size_${size}`)
      .cm-frame-icon-001__background
      .cm-frame-icon-001__inner
        block
