include ../../../Icon/template/_component

mixin ItemList001({ key = 'default', number = '01', href = '#', animation = '001' })
  .cm-item-list-001__wrapper(class=`cm-item-list-001__wrapper--${key}`)
    a.cm-item-list-001(href=href, class=`cm-item-list-001--animation_${animation}`)
      .cm-item-list-001__number
        span.cm-item-list-001__number-text
          | #{number}
      .cm-item-list-001__text-wrapper
        .cm-item-list-001__text
          block
