.site-wide__w300
  .pd001
    .pd001__open.showed
      .pd001__open-inner
        span.pd001__open-line
        span.pd001__open-line
    .pd001__close-wrapper
      .pd001__close
        span.pd001__close-line
        span.pd001__close-line
