.site-wide__w300
  .pd001
    .pd001__open
      .pd001__open-inner
        span.pd001__open-line
        span.pd001__open-line
    .pd001__close-wrapper.showed
      .pd001__close
        .pd001__close-inner
          .pd001__close-line-wrapper
            span.pd001__close-line
            span.pd001__close-line
