mixin ListItem004({ key = 'default' })
  block
  span.cm-list-item-004__wrapper(class=`cm-list-item-004__wrapper--${key}`)
    span.cm-list-item-004
      span.cm-list-item-004__icon-wrapper
        span.cm-list-item-004__icon
          +icon
      span.cm-list-item-004__text-wrapper
        span.cm-list-item-004__text
          +text
