@use "sass:math";
@use "variable";
@use "media";


@mixin baseFontSizeForRem {
  font-size: calc(
    #{variable.$PC_SIZE}px * #{variable.$REM_SIZE} / #{variable.$PC_SIZE}
  );

  @include media.pcSize {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$PC_SIZE});
  }

  @include media.tabletSize {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$PC_SIZE});
    // font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$TABLET_SIZE});

    // TBサイズの間はPCサイズの最小の固定値になる
    // font-size: calc(
    //   #{variable.$TABLET_SIZE}px * #{variable.$REM_SIZE} / #{variable.$PC_SIZE}
    // );
  }

  @include media.spSizeLess {
    font-size: calc(100vw * #{variable.$REM_SIZE} / #{variable.$SP_SIZE});
  }
}

/* htmlのフォントサイズを指定できない場合 */
@mixin baseFontSizeForEm {
  font-size: calc(
    #{variable.$PC_SIZE}px * 10 / #{variable.$PC_SIZE}
  );

  @include media.pcSize {
    font-size: calc(100vw * 10 / #{variable.$PC_SIZE});
  }

  @include media.tabletSize {
    font-size: calc(100vw * 10 / #{variable.$PC_SIZE});
  }

  @include media.spSizeLess {
    font-size: calc(100vw * 10 / #{variable.$SP_SIZE});
  }
}

@function rem($size: 10) {
  @return math.div($size, variable.$REM_SIZE) * 1rem;
}

@function em($size: 10) {
  @return $size * 0.1em;
}
