include ./_component.pug
include ../../../Icon/template/_component

+TextIcon001({ key: 'default', iconPosition: 'right' })
  mixin text
    | Text
  mixin icon
    +Icon({ key: 'default', type: '001', size: 'large' })
