mixin Accordion004({ key = 'default' })
  block
  .cm-accordion-004__wrapper(class=`cm-accordion-004__wrapper--${key}`)
    .cm-accordion-004
      .js-accordion-004-header.cm-accordion-004__header
        .cm-accordion-004__header-inner
          .cm-accordion-004__title-wrapper
            .cm-accordion-004__title
              +headerTitle
            .cm-accordion-004__text
              +headerText
          .js-accordion-004-icon.cm-accordion-004__icon
            +icon
      .js-accordion-004-content.cm-accordion-004__content-wrapper
        .js-accordion-004-content-inner.cm-accordion-004__content
          .cm-accordion-004__content-title
            +contentTitle
          .cm-accordion-004__content-text
            +contentText