include ./_component.pug
include ../../../Icon/template/_component

+Accordion004({ key: 'default' })
  mixin headerTitle
    | Q
  mixin headerText
    | Accordion
  mixin icon
    +Icon({ key: 'default', type: '036', size: 'middle' })
  mixin contentTitle
    | A
  mixin contentText
    | ssssssssssssssssssssssssssssssssssssssssssssssssssss
