mixin Label001({ key = 'default', type = '001', size = 'middle' })
  .cm-label-001__wrapper(class=`cm-label-001__wrapper--${key}`)
    .cm-label-001(class=`cm-label-001--${type} cm-label-001--size_${size}`)
      block
