mixin ListItem005({ key = 'default' })
  span.cm-list-item-005__wrapper(class=`cm-list-item-005__wrapper--${key}`)
    span.cm-list-item-005
      span.cm-list-item-005__point-wrapper
        span.cm-list-item-005__point
      span.cm-list-item-005__text-wrapper
        span.cm-list-item-005__text
          block
