.site-wide__w300
  .cm-toggle-pd001
    .cm-toggle-pd001__close-wrapper
      .cm-toggle-pd001__close
        .cm-toggle-pd001__close-inner
          .cm-toggle-pd001__close-line-wrapper
            span.cm-toggle-pd001__close-line
            span.cm-toggle-pd001__close-line
