.site-wide__w300
  .pd001
    .pd001__close-wrapper
      .pd001__close
        .pd001__close-inner
          .pd001__close-line-wrapper
            span.pd001__close-line
            span.pd001__close-line
