@use './import' as *;

@use '../components/Button/Product001/style/index' as *;
@use '../components/Button/Product002/style/index' as *;
@use '../components/Icon/style/index' as *;
@use '../components/Toggle/Product001/close/style/index' as *;
@use '../components/Toggle/Product001/open/style/index' as *;
@use '../components/Toggle/Product002/style/index' as *;
@use '../components/TextIcon/Product001/style/index' as *;
@use '../components/ListItem/Product001/style/index' as *;
@use '../components/ListItem/Product002/style/index' as *;
@use '../components/ListItem/Product003/style/index' as *;
@use '../components/ListItem/Product004/style/index' as *;
@use '../components/ListItem/Product005/style/index' as *;
@use '../components/NestedListItem/Product001/style/index' as *;
@use '../components/NestedListItem/Product002/style/index' as *;
@use '../components/FrameIcon/Product001/style/index' as *;
@use '../components/Input/Product001/style/index' as *;
@use '../components/Input/Product002/style/index' as *;
@use '../components/Input/Product003/style/index' as *;
@use '../components/Input/Product004/style/index' as *;
@use '../components/Input/Product005/style/index' as *;
@use '../components/Input/Product006/style/index' as *;
@use '../components/TextField/Product001/style/index' as *;
@use '../components/TextField/Product002/style/index' as *;
@use '../components/TextField/Product003/style/index' as *;
@use '../components/TextField/Product004/style/index' as *;
@use '../components/TextField/Product005/style/index' as *;
@use '../components/Select/Product001/style/index' as *;
@use '../components/Select/Product002/style/index' as *;
@use '../components/Select/Product003/style/index' as *;
@use '../components/Select/Product004/style/index' as *;
@use '../components/Label/Product001/style/index' as *;
@use '../components/Label/Product002/style/index' as *;
@use '../components/Label/Product003/style/index' as *;
@use '../components/CheckBox/Product001/style/index' as *;


@include button001((
  key: 'default',
  color: #000,
  background-color: #fff,
  border-color: #000,
  font-weight: 700,
  animation: (
    text-color: #fff,
    background-color: #000,
    duration: 0.25s,
  ),
));

@include button002((
  key: 'default',
  color: #000,
  background-color: #fff,
  border-color: #000,
  font-weight: 700,
  icon: (
    stroke: #000,
    fill: #000,
  ),
  animation: (
    background-color: #000,
    text-color: #fff,
    duration: 0.4s,
    icon: (
      stroke: #fff,
      fill: #fff,
    )
  ),
));

@include textIcon001((
  key: 'default',
  font-size: 24,
  color: #000,
  icon: (
    size: 24,
    stroke: #000,
    fill: #000,
  ),
));

@include icon((
  key: 'default',
  stroke: #000,
  fill: #000,
  transitionStroke: stroke 0.3s $easeInOutCubic,
  transitionFill: fill 0.3s $easeInOutCubic,
));

@include toggle001Close((
  key: 'default',
  line-color: #000,
  animation: (
    background-color-line: #ccc,
  ),
));

@include toggle001Open((
  key: 'default',
  line-color: #000,
  animation: (
    background-color-before: #d9d9d9,
    background-color-after: #fff,
  ),
));

@include toggle002((
  key: 'default',
  line-color: #000,
));

@include listItem001((
  key: 'default',
  font-size: 24,
  color: #000,
  gap: 48,
  line-height: 1.5,
  number: (
    font-size: 24,
    color: #000,
  ),
));

@include listItem002((
  key: 'default',
  font-size: 24,
  line-height: 1.25,
  color: #000,
  gap: 24,
  point: (
    size: 8,
    color: #000,
  ),
  animation: (
    duration: 0.25s,
    ease: $easeInOutCubic,
  ),
));

@include listItem003((
  key: 'default',
  font-size: 24,
  line-height: 1.25,
  color: #000,
  gap: 24,
  point: (
    size: 8,
    color: #000,
  ),
  animation: (
    duration: 0.25s,
    ease: $easeInOutCubic,
  ),
));

@include listItem004((
  key: 'default',
  font-size: 24,
  line-height: 1.25,
  color: #000,
  gap: 32,
  icon: (
    fill: #000,
    stroke: #000,
  ),
  animation: (
    duration: 0.25s,
    ease: $easeInOutCubic,
  ),
));

@include listItem005((
  key: 'default',
  font-size: 24,
  line-height: 1.25,
  color: #000,
  gap: 24,
  point: (
    size: 8,
    color: #000,
  ),
  animation: (
    duration: 0.25s,
    ease: $easeInOutCubic,
  )
));

@include NestedListItem001((
  key: 'default',
  fontSize: 24,
  lineHeight: 1.25,
  color: #000,
  gap: 34,
  icon: (
    fill: #000,
    stroke: #000,
  )
));

@include NestedListItem002((
  key: 'default',
  fontSize: 24,
  lineHeight: 1.25,
  color: #000,
  leftIcon: (
    fill: #000,
    stroke: #000,
  ),
  rightIcon: (
    fill: #000,
    stroke: #000,
  )
));

@include frameIcon001((
  key: 'default',
  background: #e7e7e7,
  icon: (
    fill: #000,
    stroke: #000,
  ),
));

@include Input001((
  key: 'default',
  font-size: 18,
  color: #000,
  border-color: #000,
  placeholder-color: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include Input002((
  key: 'default',
  font-size: 18,
  color: #000,
  border-color: #000,
  placeholder-color: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include Input003((
  key: 'default',
  fontSize: 18,
  color: #000,
  borderColor: #000,
  backgroundColor: #eee,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include Input004((
  key: 'default',
  fontSize: 18,
  color: #000,
  backgroundColor: #eee,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include Input005((
  key: 'default',
  fontSize: 18,
  color: #000,
  borderColor: #000,
  backgroundColor: #eee,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include Input006((
  key: 'default',
  fontSize: 18,
  color: #000,
  borderColor: #000,
  placeholderColor: #909090,
  backgroundColor: #fff,
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include TextField001((
  key: 'default',
  font-size: 18,
  color: #000,
  line-height: 1.5,
  border-color: #000,
  placeholder-color: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include TextField002((
  key: 'default',
  font-size: 18,
  color: #000,
  line-height: 1.5,
  border-color: #000,
  placeholder-color: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include TextField003((
  key: 'default',
  fontSize: 18,
  lineHeight: 1.5,
  color: #000,
  borderColor: #000,
  backgroundColor: #eee,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include TextField004((
  key: 'default',
  fontSize: 18,
  lineHeight: 1.5,
  color: #000,
  backgroundColor: #eee,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include TextField005((
  key: 'default',
  fontSize: 18,
  lineHeight: 1.5,
  color: #000,
  backgroundColor: #eee,
  borderColor: #000,
  placeholderColor: #909090,
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include Select001((
  key: 'default',
  color: #000,
  fontSize: 24,
  borderColor: #000,
  placeholder: #909090,
  icon: (
    stroke: #000,
    fill: #000,
  ),
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include Select002((
  key: 'default',
  color: #000,
  fontSize: 24,
  borderColor: #000,
  placeholder: #909090,
  icon: (
    stroke: #000,
    fill: #000,
  ),
  error: (
    fontSize: 16,
    color: #f00,
    borderColor: #f00,
  )
));

@include Select003((
  key: 'default',
  color: #000,
  fontSize: 24,
  borderColor: #000,
  placeholder: #909090,
  backgroundColor: #eee,
  icon: (
    stroke: #000,
    fill: #000,
  ),
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
  )
));

@include Select004((
  key: 'default',
  color: #000,
  fontSize: 24,
  placeholder: #909090,
  backgroundColor: #eee,
  borderColor: #eee,
  icon: (
    stroke: #000,
    fill: #000,
  ),
  error: (
    fontSize: 16,
    color: #f00,
    backgroundColor: #fdd,
    borderColor: #fdd,
  )
));

@include Label001((
  key: 'default',
  fontSize: 12,
  backgroundColor: #eee,
  color: #000,
));

@include Label002((
  key: 'default',
  fontSize: 12,
  backgroundColor: #eee,
  color: #000,
  borderColor: #c6c6c6,
));

@include Label003((
  key: 'default',
  fontSize: 12,
  backgroundColor: #eee,
  color: #000,
  icon: (
    fill: #000,
    stroke: #000,
  )
));

@include CheckBox001((
  key: 'default',
  backgroundColor: #eee,
  borderColor: #eee,
  iconColor: #fff,
  checked: (
    backgroundColor: #000,
    borderColor: #000,
  )
));