//- .js-selectにerrorクラスを付与するとエラー表示が出る

mixin Select002({ key = 'default', name = 'select-002' })
  block
  .cm-select-002__wrapper(class=`cm-select-002__wrapper--${key}`)
    .js-select.cm-select-002
      .cm-select-002__inner
        select.cm-select-002__select(name=name)
          +options
        span.cm-select-002__icon
          +icon
      p.cm-select-002__error 
        +errorText