mixin Button001({ type = '001', size = 'medium' })
  .cm-button-001__wrapper
    button.cm-button-001(class=`cm-button-001--${type} cm-button-001--${size}`)
      span.cm-button-001__text
        block