include ../../../Icon/template/_component

mixin Button001({ key = 'default', type = '001', size = 'middle', animation = '001' })
  span.cm-button-001__wrapper(class=`cm-button-001__wrapper--${key}`)
    span.cm-button-001(class=`cm-button-001--${type} cm-button-001--${size} cm-button-001--animation_${animation}`)
      span.cm-button-001__text
        block
