mixin CheckBox002({ key = 'default', name = 'checkbox-002', checked = false })
  .cm-checkbox-002__wrapper(class=`cm-checkbox-002__wrapper--${key}`)
    .cm-checkbox-002
      input.cm-checkbox-002__input(type='checkbox', name=name, id=name, checked=checked)
      span.cm-checkbox-002__background
      span.cm-checkbox-002__checkmark
