@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";

@keyframes scaleOut {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.cm-toggle-002{
  display: block;
}

.cm-toggle-002__inner {
  width: mixin.rem(40);
  height: mixin.rem(40);
  position: relative;
  transition: opacity .2s ease;
  cursor:pointer;

  &:hover {
    opacity: .5;
  }

  &.is-open{
    .cm-toggle-002__open-line:nth-child(1){
      animation: scaleOut .15s ease forwards;
    }

    .cm-toggle-002__open-line:nth-child(2){
      animation: scaleOut .15s .15s ease forwards;
    }

    .cm-toggle-002__open-line:nth-child(3){
      animation: scaleOut .15s .3s ease forwards;
    }

    .cm-toggle-002__close-line::after{
      animation: scaleIn .15s .45s ease forwards;
    }
  }

  &.is-close {
    .cm-toggle-002__close-line::after {
      animation: scaleOut .15s ease forwards;
    }

    .cm-toggle-002__open-line {
      transform: scaleX(0);
      animation: scaleIn .15s .15s ease forwards;
    }
  }
}

.cm-toggle-002__open{
  width: mixin.rem(28);
  display: flex;
  flex-direction: column;
  gap: mixin.rem(3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cm-toggle-002__open-line{
  width: 100%;
  height: mixin.rem(2);
  background-color: #000;
  transform-origin: left;
}

.cm-toggle-002__close-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cm-toggle-002__close{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cm-toggle-002__close-line{
  position: absolute;
  top: 50%;
  left: 50%;
  width: mixin.rem(28);
  height: mixin.rem(2);
  cursor:pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: scale(0);
  }

  &:nth-child(1){
    transform: translate(-50%, -50%) rotate(-45deg);

    &::after {
      transform-origin: right;
    }
  }

  &:nth-child(2){
    transform: translate(-50%, -50%) rotate(45deg);

    &::after {
      transform-origin: left;
    }
  }
}

