include ./_component.pug

button
  +TextButton001({ key: 'default', type: '001', size: 'small' })
    | Text Button Component
a(href='#')
  +TextButton001({ key: 'default', type: '001', size: 'small' })
    | Text Button Component
