mixin Accordion003({ key = 'default' })
  block
  .cm-accordion-003__wrapper(class=`cm-accordion-003__wrapper--${key}`)
    .cm-accordion-003
      .js-accordion-003-header.cm-accordion-003__header
        .cm-accordion-003__header-inner
          .cm-accordion-003__title-wrapper
            .cm-accordion-003__title
              +header
          .js-accordion-003-icon.cm-accordion-003__icon
            +icon
      .js-accordion-003-content.cm-accordion-003__content-wrapper
        .js-accordion-003-content-inner.cm-accordion-003__content
          .cm-accordion-003__content-text
            +content