mixin RebitaToggle({ key = 'default', size = 'middle' })
  .cm-rebita-toggle__wrapper(class=`cm-rebita-toggle__wrapper--${key}`)
    .cm-rebita-toggle__inner(class=`cm-rebita-toggle__inner--${size}`)
      .cm-rebita-toggle__dot-wrapper
        span.cm-rebita-toggle__dot
        span.cm-rebita-toggle__dot
        span.cm-rebita-toggle__dot

      .cm-rebita-toggle__close-wrapper
        span.cm-rebita-toggle__line
        span.cm-rebita-toggle__line
