mixin RebitaToggle({ key = 'default', size = 'middle' })
  .cm-rebita-toggle__wrapper(class=`cm-rebita-toggle__wrapper--${key}`)
    .cm-rebita-toggle__inner(class=`cm-rebita-toggle__inner--${size}`)
      js-rebita-toggle-open.cm-rebita-toggle__dot-wrapper
        span.cm-rebita-toggle__dot
        span.cm-rebita-toggle__dot
        span.cm-rebita-toggle__dot

      js-rebita-toggle-close.cm-rebita-toggle__close-wrapper
        .cm-rebita-toggle__line-wrapper
          span.cm-rebita-toggle__line
          span.cm-rebita-toggle__line
