include ./_component.pug
include ../../../Icon/template/_component

+ListItem004({ key: 'default', href: '#', animation: '001', })
  mixin text
    | ListItem
  mixin icon
    +Icon({ key: 'default', type: '007', size: 'middle' })
