mixin FrameNumber001({ key = 'default', type = '001', size = 'middle' })
  .cm-frame-number-001__wrapper(class=`cm-frame-number-001__wrapper--${key}`)
    .cm-frame-number-001(class=`cm-frame-number-001--${type} cm-frame-number-001--size_${size}`)
      .cm-frame-number-001__background
      .cm-frame-number-001__inner
        .cm-frame-number-001__number
          block
