@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";

.pd001{
  display: block;
  width: mixin.rem(42);
  height: mixin.rem(22);
  position: relative;
}

.pd001__open{
  display: flex;
  flex-direction: column;
  gap: mixin.rem(10);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;

  &.showed{
    opacity: 1;
    pointer-events: auto;
  }
}

.pd001__open-line{
  width: 100%;
  height: mixin.rem(6);
  background-color: #000;
}

.pd001__close-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &.showed{
    opacity: 1;
    pointer-events: auto;
  }
}

.pd001__close{
  position: relative;
  width: 100%;
}

.pd001__close-line{
  position: absolute;
  top: 50%;
  left: 0;
  width: mixin.rem(42);
  height: mixin.rem(6);
  background-color: #000;

  &:nth-child(1){
    transform: rotate(-45deg);
  }

  &:nth-child(2){
    transform: rotate(45deg);
  }
}
