@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";

.button-normal {
  width: 100%;
  color: #fff;
  background-color: #000;
  padding: mixin.rem(10) mixin.rem(20);
  cursor: pointer;
  border-radius: mixin.rem(10);

  @include media.spSizeLess {
    width: mixin.rem(300);
    color: #fff;
  }
}
