@use "../../../../shared/styles/shared/media";
@use "../../../../shared/styles/shared/reset";
@use "../../../../shared/styles/shared/mixin";
@use "../../../../shared/styles/shared/animation";
@use "../../../../shared/styles/shared/setting";
@use "../../../../shared/styles/shared/site-wide";

.pd001{
  display: block;
}

.pd001__open{
  display: flex;
  flex-direction: column;
  gap: mixin.rem(10);
}

.pd001__open-line{
  width: mixin.rem(42);
  height: mixin.rem(6);
  background-color: #000;
}

.pd001__close{
  margin-top: mixin.rem(20);
  display: flex;
  flex-direction: column;
  gap: mixin.rem(10);
}

.pd001__close-line{
  width: mixin.rem(42);
  height: mixin.rem(6);
  background-color: #000;
}