
//- js-rebita-fade-textのclip-path: inset(0 50% 0 0)の50%の部分を変更すればアニメーションできる
mixin RebitaFadeText({ key = 'default' })
  span.cm-rebita-fade-text__wrapper(class=`cm-rebita-fade-text__wrapper--${key}`)
    span.cm-rebita-fade-text__container
      span.js-rebita-fade-text.cm-rebita-fade-text__text
        block
      span.cm-rebita-fade-text__text
        block
