mixin Label002({ key = 'default', type = '002', size = 'middle' })
  .cm-label-002__wrapper(class=`cm-label-002__wrapper--${key}`)
    .cm-label-002(class=`cm-label-002--${type} cm-label-002--size_${size}`)
      block
