mixin JmcCircleToggle({ key = 'default' })
  span.cm-jmc-circle-toggle__wrapper(class=`cm-jmc-circle-toggle__wrapper--${key}`)
    span.cm-jmc-circle-toggle
      span.cm-jmc-circle-toggle__inner
        span.cm-jmc-circle-toggle__dot-wrapper
          span.cm-jmc-circle-toggle__dot
          span.cm-jmc-circle-toggle__dot
          span.cm-jmc-circle-toggle__dot
