include ../../Icon/template/_component

mixin Breadcrumbs({ key = 'default', items = [] })
  .cm-breadcrumbs__wrapper(class=`cm-breadcrumbs__wrapper--${key}`)
    .cm-breadcrumbs
      each item, index in items
        .cm-breadcrumbs__item
          .cm-breadcrumbs__item-text-wrapper
            if index === items.length - 1
              span.cm-breadcrumbs__item-text= item.text
            else
              a.cm-breadcrumbs__item-link(href=item.link)= item.text
          if index !== items.length - 1
            .cm-breadcrumbs__item-icon
              +Icon({ key: 'default', type: '004', size: 'small' })
