include ./_component.pug
include ../../../Icon/template/_component

+Accordion003({ key: 'default', type: '001' })
  mixin header
    | Accordion
  mixin icon
    +Icon({ key: 'default', type: '036', size: 'middle' })
  mixin content
    | ssssssssssssssssssssssssssssssssssssssssssssssssssss
