include ../../../../Icon/template/_component
include ./_component.pug

button
  +Button002({key: 'default', type: '001', size: 'middle', iconDirection: 'right', animation: "001"}) 
    mixin text
      | Button
    mixin icon
      +Icon({ key: 'default', type: '001', size: 'middle' })

a(href='#')
  +Button002({key: 'default', type: '001', size: 'middle', iconDirection: 'right', animation: "001"}) 
    mixin text
      | Button
    mixin icon
      +Icon({ key: 'default', type: '001', size: 'middle' })