mixin ListItem003({ key = 'default' })
  span.cm-list-item-003__wrapper(class=`cm-list-item-003__wrapper--${key}`)
    span.cm-list-item-003
      span.cm-list-item-003__point-wrapper
        span.cm-list-item-003__point
      span.cm-list-item-003__text-wrapper
        span.cm-list-item-003__text
          block
