mixin ListItem003({ key = 'default', animation = '001' })
  span.cm-list-item-003__wrapper(class=`cm-list-item-003__wrapper--${key}`)
    span.cm-list-item-003(class=`cm-list-item-003--animation_${animation}`)
      span.cm-list-item-003__point-wrapper
        span.cm-list-item-003__point
      span.cm-list-item-003__text-wrapper
        span.cm-list-item-003__text
          block
