//- .js-selectにerrorクラスを付与するとエラー表示が出る

mixin Select004({ key = 'default', type = '001', name = 'select-004' })
  block
  .cm-select-004__wrapper(class=`cm-select-004__wrapper--${key}`)
    .js-select.cm-select-004(class=`cm-select-004--${type}`)
      .cm-select-004__inner
        select.cm-select-004__select(name=name)
          +options
        span.cm-select-004__icon
          +icon
      p.cm-select-004__error 
        +errorText