mixin Button002({ key = 'default', type = '001', size = 'medium', text = 'Button' })
  block
  .cm-button-002__wrapper(class=`cm-button-002__wrapper--${key}`)
    button.cm-button-002(class=`cm-button-002--${type} cm-button-002--${size}`)
      span.cm-button-002__text
        +text
      span.cm-button-002__icon
        +icon