include ../../../Icon/template/_component
include ./_component.pug

+Button002({key: 'default', type: '001', size: 'medium', iconDirection: 'right', animation: "002"}) 
  mixin text
    | Button
  mixin icon
    +Icon({ key: 'default', type: '001' })
