mixin toggle002()
  .cm-toggle-002
    .js-cm-toggle-002.cm-toggle-002__inner
      .cm-toggle-002__open
        span.cm-toggle-002__open-line
        span.cm-toggle-002__open-line
        span.cm-toggle-002__open-line
      .cm-toggle-002__close-wrapper
        .cm-toggle-002__close
          span.cm-toggle-002__close-line
          span.cm-toggle-002__close-line
