include ./_component.pug
include ../../../Icon/template/_component

+NestedListItem002({ key: 'default' })
  mixin leftIcon
    +Icon({ key: 'default', type: '030', size: 'large' })
  mixin text
    | NestedListItem002
  mixin rightIcon
    +Icon({ key: 'default', type: '036', size: 'small' })
