.cm-toggle-001
  .cm-toggle-001__close-wrapper
    .cm-toggle-001__close
      .cm-toggle-001__close-inner
        .cm-toggle-001__close-line-wrapper
          span.cm-toggle-001__close-line
          span.cm-toggle-001__close-line
