include ./_component.pug
include ../../../CheckBox/Product001/template/_component

//- チェックボックスとラベルをリンクさせるためにRadioのname属性とCheckBoxのname属性を同じにする
+Radio001({ key: 'default', name: 'radio-001' })
  mixin checkbox
    +CheckBox001({ key: 'default', name: 'radio-001', type: '003', checked: false })
  mixin text
    | Radio Component
