@use '../components/Button/Product001/style/index' as *;
@use '../components/Button/Product002/style/index' as *;
@use '../components/Icon/style/index' as *;
@use '../components/Toggle/Product001/close/style/index' as *;
@use '../components/Toggle/Product001/open/style/index' as *;
@use '../components/Toggle/Product002/style/index' as *;


@include button001((
  key: 'default',
));
@include button002((
  key: 'default',
));
@include icon((
  key: 'default',
));
@include toggle001Close((
  key: 'default',
));
@include toggle001Open((
  key: 'default',
));
@include toggle002((
  key: 'default',
));