mixin VerticalRollingText({ key = 'default' })
  span.cm-vertical-rolling-text__wrapper(class=`cm-vertical-rolling-text__wrapper--${key}`)
    span.js-vertical-rolling-text-wrapper.cm-vertical-rolling-text__inner
      span.js-vertical-rolling-text-contents.cm-vertical-rolling-text__contents
        span.cm-vertical-rolling-text
          block
        span.cm-vertical-rolling-text
          block
