mixin ListItem001({ key = 'default', number = '01' })
  span.cm-list-item-001__wrapper(class=`cm-list-item-001__wrapper--${key}`)
    span.cm-list-item-001
      span.cm-list-item-001__number
        span.cm-list-item-001__number-text
          | #{number}
      span.cm-list-item-001__text-wrapper
        span.cm-list-item-001__text
          block
