include ./_component.pug

+Media()
  mixin pc
    p(style='font-size: 16em;')
      | PC
  mixin tb
    p(style='font-size: 16em;')
      | タブレット
  mixin sp
    p(style='font-size: 16em;')
      | SP
