mixin ListItem006({ key = 'default' })
  block
  span.cm-list-item-006__wrapper(class=`cm-list-item-006__wrapper--${key}`)
    span.cm-list-item-006
      span.cm-list-item-006__frame-number-wrapper
        span.cm-list-item-006__frame-number
          +frameNumber
      span.cm-list-item-006__text-wrapper
        span.cm-list-item-006__text
          | ListItem
