@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;

@mixin TearoomTableOfContents($options) {
  $defaults: (
    key: "default",
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-tearoom-table-of-contents__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-tearoom-table-of-contents__wrapper--#{map.get($settings, "key")} {
    .cm-tearoom-table-of-contents {
      display: flex;
      align-items: center;
      font-size: em(10);
      cursor: pointer;
    }
  }
}
