mixin List001({ key = 'default', type = '001' })
  block
  .cm-list-001__wrapper(class=`cm-list-001__wrapper--${key}`)
    ul.cm-list-001(class=`cm-list-001--${type}`)
      +listItems({ className: `cm-list-001__item` })
