@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin JmcCircleToggleHover($options) {
  $defaults: (
    color: #fff,
  );

  $settings: map.deep-merge($defaults, $options);

  &:hover {
    .cm-jmc-circle-toggle {
      border-color: rgba(map.get($settings, "color"), 0);
      background-color: rgba(map.get($settings, "color"), 0.3);
    }
  }
}

@mixin JmcCircleToggle($options) {
  $defaults: (
    key: "default",
    color: #fff,
    dotColor: #fff,
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-jmc-circle-toggle__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-jmc-circle-toggle__wrapper--#{map.get($settings, "key")} {
    .cm-jmc-circle-toggle {
      width: em(40);
      height: em(40);
      position: relative;
      border-radius: 50%;
      display: block;
      border: 1px solid rgba(map.get($settings, "color"), 1);
      background-color: rgba(map.get($settings, "color"), 0);
      transition:
        border-color 0.3s $easeOutCubic,
        background-color 0.3s $easeOutCubic;
    }

    .cm-jmc-circle-toggle__inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .cm-jmc-circle-toggle__dot-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: em(4);
    }

    .cm-jmc-circle-toggle__dot {
      width: em(4);
      height: em(4);
      background-color: map.get($settings, "dotColor");
      border-radius: 50%;
    }
  }
}
